body{
    font-family: sans-serif;
}

html,
.fullscreen{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container{
    margin: 0px 0px 0px 0px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.title{
    font-size: 3rem;
}

.model-viewer{
    height: 100%;
    width: 100%;
}

.model-viewer-w80{
    height: 100%;
    width: 80%;
    --progress-mask:#0000;
    --progress-bar-height:0px
}