.uqido-model-viewer {
  width: 100%;
  height: 100%;
}

.uqido-container {
  display: flex;
  height: 468px;
}

#uqido-slave {
  flex-grow: 1;
  height: 468px;
}

@media screen and (max-width: 740px) {
  #uqido-slave {
    display: none;
  }
}

#uqido-target {
  flex-grow: 6;
  height: 468px;
}
